:root {
    --primary-color: #142727;
    --white-color: #fff;
    --city-btn-color: #717D7E;
    --card-color: #34456F;
}

body {
    background-color: var(--white-color);
    /* padding-right: 5px; */
}

/* Aside Section */
#search-button{
    /* Search Button */
    border-radius: 0.25rem;
}

.city-button{
    /* City Buttons */
    margin-bottom: 0.5rem;
    background-color: var(--city-btn-color);
}

/* Today Section */
#today {
    /* Section housing current weather conditions */
    border: 1px solid rgba(0, 0, 0, 0.98);
}

/* Forecast Section */
#forecast {
    /* Section housing 5-day forecast */
     flex-direction: row;
     justify-content: space-between;
}

.forecast-heading{
    /* Forecast section heading */
    padding: 0;
}
.forecast-card{
    /* Forecast cards */
    padding: 10px 5px;
    background-color: var(--card-color);
    color: var(--white-color);
}

#forecast-icon{
    /* Forcast icons */
    width: 50px;
}

